{% include 'overall_header.html' %}
{% INCLUDECSS '@david63_disableext/disableext.css' %}

<h1>{{ lang('DISABLE_EXTENSIONS') }}</h1>
<p>{{ lang('DISABLE_EXTENSIONS_EXPLAIN') }}</p>

<img style="float: {{ S_CONTENT_FLOW_END }};" src="https://img.shields.io/badge/{{ lang('VERSION') }}-{{ DISABLE_EXT_VERSION }}-orange.svg?style=plastic" /><br />

<form id="disableext" method="post" action="{{ U_ACTION }}">
	<fieldset>
		<p class="disable-ext-message">{{ MESSAGE }}</p>
		{% if FORM_CONTINUE %}
			<p class="submit-buttons">
				<input class="button1" type="submit" id="continue" name="continue" value="{{ lang('CONTINUE') }}" />
			</p>
		{% elseif FORM_CONFIRM %}
			<p class="submit-buttons">
				<input class="button1" type="submit" id="confirm" name="confirm" value="{{ lang('CONFIRM') }}" />
			</p>
		{% endif %}

		{{ S_FORM_TOKEN }}
		{{ S_HIDDEN_FIELDS }}
	</fieldset>
</form>

{% include 'overall_footer.html' %}
